$text-color: ghostwhite;
$movies-position: 0%;

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $text-color;
}

:export {
  moviesPosition: $movies-position;
}
