@import "config";

.home {
  background: linear-gradient(rgba(2, 9, 77, 0.1), rgba(2, 9, 77, 0.1)),
    url(../dist/img/background-blue.jpg) center top;
  height: 100vh;
  width: auto;
  background-size: cover;
  justify-content: center;
  display: flex;
  overflow: visible;
}

.collection {
  margin: 0;
  display: block;
  height: fit-content;
  position: relative;
  top: 72px;
  width: 90%;
  &__main {
    display: block;

    &__slider {
      height: 30vh;
      position: relative;

      &--window {
        display: flex;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;

        & img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      &--buttonL {
        cursor: pointer;
        height: 100%;
        position: absolute;
        top: 0px;
        transform: translateX(-100%);
        width: calc(3.5vw + 24px);
        opacity: 0;
      }

      &--buttonR {
        cursor: pointer;
        height: 100%;
        position: absolute;
        top: 0px;
        right: 0px;
        transform: translateX(100%);
        width: calc(3.5vw + 24px);
        opacity: 0;
      }

      &--dots {
        position: absolute;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: row;
        li {
          width: 10px;
        }
      }
    }
  }

  &__category {
    &__companies {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      position: relative;
      top: 0px;
      left: 0px;
      overflow: visible;

      &--company {
        position: relative;
        height: auto;
        display: flex;
        width: calc(16% - 20px);
        margin: 20px 10px 20px 10px;
        background-image: linear-gradient(rgb(58, 60, 74), rgb(36, 38, 50));
        overflow: hidden;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0px 26px 30px -10px rgb(17, 17, 22);

        img {
          width: 100%;
        }

        .hover-image {
          position: absolute;
          top: 0px;
          width: 100%;
          height: 100%;
          z-index: 100;
          opacity: 0;
        }

        &:hover {
          width: calc(25% - 20px);
          border: 2px $text-color solid;
          margin: 0px 0px 0px 0px;
          transition: 0.3s ease-in-out;
          .hover-image {
            transition: 0.3s ease-in-out;
            opacity: 1;
          }
        }
      }
    }
  }

  &__recommendations {
    display: block;

    &__recommended {
      display: block;
    }

    .box {
      position: relative;

      .movies {
        display: flex;
        transform: translateX($movies-position);

        .movie {
          background-color: red;

          img {
            // height: auto;
            // display: block;
            height: auto;
            width: 25%;
            aspect-ratio: 16/9;
          }
        }

        img {
          min-width: 20%;
          aspect-ratio: 16/9;
          padding-left: 0.7rem;
          // flex: 0 0 25%; //for different img sizes it might help
          border-radius: 1rem;
        }
      }

      .arrow {
        background-color: rgba(0, 0, 0, 0.377);
        height: 100%;
        z-index: 10;
        border: none;
        border-radius: 0.5rem;
        width: 6rem;
        font-size: 3rem;
        cursor: pointer;

        content-visibility: hidden;
        &-left {
          position: absolute;
          top: 0;
          left: 0;
          transform: translateX(-100%);
        }

        &-right {
          position: absolute;
          top: 0;
          right: 0;
          transform: translateX(100%);
        }

        &:hover {
          content-visibility: visible;
        }
      }
    }
  }
}
