.home {
  background: linear-gradient(rgba(2, 9, 77, 0.1), rgba(2, 9, 77, 0.1)),
    url(../dist/img/background-blue.jpg) center top;
  height: 100vh;
  width: auto;
  background-size: cover;
  justify-content: center;
  display: flex;
}

.collection {
  margin: 0;
  display: block;
  height: 90%;
  position: relative;
  top: 72px;
  width: 90%;
  &__main {
    display: block;

    &__slider {
      height: 25vh;
      position: relative; //czemu muszę mieć tu relative?

      &--window {
        display: flex;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;

        & img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: 0px -230px;
        }
      }

      &--buttonL {
        cursor: pointer;
        height: 100%; //do zmiany
        position: absolute;
        top: 0px;
        transform: translateX(-100%);
        width: calc(3.5vw + 24px);
        opacity: 0;
      }

      &--buttonR {
        cursor: pointer;
        height: 100%; //do zmiany
        position: absolute;
        top: 0px;
        right: 0px;
        transform: translateX(100%);
        width: calc(3.5vw + 24px);
        opacity: 0;
      }

      &--dots {
        position: absolute;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: row;
        li {
          width: 10px;
        }
      }
    }
  }
}
