@import "home";
@import "config";

main {
  height: 100%;
  width: 100%;
}

header {
  position: absolute;
  width: 100%;
  padding: 1rem;
}

.nav {
  &__list {
    width: 55%;
    &-ul {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      list-style-type: none;
      font-weight: 600;
      a:link {
        text-decoration: none;
        display: flex;
        align-items: center;

        .material-icons {
          font-size: 20px;
        }
      }
      .menu-nav__link {
        position: relative;
        p {
          margin-left: 5px;
          position: relative;
        }
        p::after {
          content: "";
          position: absolute;
          width: 0;
          height: 1.5px;
          display: block;
          margin-top: 5px;
          background: #fff;
          transition: width 0.2s ease;
          border-radius: 0px 0px 4px 4px;
        }
        p:hover::after {
          width: 100%;
          background: #fff;
        }
      }
    }
  }
}

.logo {
  background-color: transparent;
  background-image: url(../dist/img/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: auto;
  min-height: 38px;
  min-width: 63px;
  width: auto;
}
